.activeItem{
    font-weight: bold;
    border-bottom: 1px solid rgb(214, 80, 80);

}

.navbar a:hover{
color: rgb(117, 108, 148);
}
.ul li:hover{
    color: rgb(117, 108, 148);
}



/* home page */
.get-started-btn{
    border-radius: 15px;
    border:1px solid lightblue;
    background: white;
    padding:4px;
}
.get-started-btn:hover{
    background-color:  lightblue;
}

.webname{
    color:rgb(101, 202, 202)
}